
 <style>
    .no-underline {
      text-decoration: none;
    }
  </style>
 <%= turbo_frame_tag quote do %>
  <div class="quote">
    <%= link_to quote.name.capitalize, quote_path(quote), data: { turbo_frame: "_top" }, class: "no-underline" %>
    <div class="quote__actions">
      <%= button_to "Delete", quote_path(quote), method: :delete, class: "btn btn--primary " %><br>
      <%= link_to "Edit", edit_quote_path(quote), class: "btn btn--danger" %>
      
    </div>
  </div>
<% end %>
